body {
    background-color: whitesmoke ;
    
  }
  .calculator{
    width: 450px;
    height: 630px; 
    background-color: #fdcdeb;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
  input{
    width: 400px;
    height: 50px;
    padding-inline: 10px;
    font-size: 30px;
    border-radius: 10px;
    text-align: right;
    color: black;
  }
  button {
    height: 80px;
    width: 90px;
    border-radius: 10px;
    font-size: 20px;

  }
  table{
    border-spacing: 12px;
  }
  
td[colspan="2"] button {
    width: 200px; 
  }
  